
@media (prefers-color-scheme: dark) {
    :root {
        --Accent: #ef5eba;
        --Accent-Trans: #ef5eba50;
        --Accent-Float: #ef5eba30;
        --Background: #2F2F2F;
        --Background-Float: #424242;
        --Background-Nav: #202020;
        --Text: #FFFFFF;
        --Text-Float: #BEBEBE;
    }
}


@media (prefers-color-scheme: light) {
    :root {
        --Accent: #d5108c;
        --Accent-Trans: #d5108c50;
        --Accent-Float: #d5108c30;
        --Background: #F6F6F6;
        --Background-Float: #E3E3E3;
        --Background-Nav: #F6F6F6;
        --Text: #2F2F2F;
        --Text-Float: #626262;
    }
}

/*Body*/

Body {
    margin: 0;
    padding: 0;
    background-color: var(--Background);
    text-rendering: optimizeLegibility;
    font-family: 'Inter', sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
    font-weight: 400;
    font-size: 20px;
    color: var(--Text);
}

.Wrapper {
    width: 50%;
    margin: 0px auto;
    text-align: center;
    position: relative;
    top: 11em;
    z-index: 2;
}

@media (max-width: 1200px) {
    .Wrapper {
        width: 100%;
        margin: 0px auto;
        margin-bottom: 12em !important;
        padding: 0px;
        top: 6em;
    }
}

/* Link */

a {
    color: var(--Accent);
    text-decoration: underline 2px;
    text-decoration-color: var(--Accent-Trans);
    transition: text-decoration-color 0.2s ease-in-out;
}

a:hover,
a:active {
    text-decoration-color: var(--Accent);
}

/*Logo*/

.Logo {
    background: var(--Background) url(Icon.png) center center no-repeat;
    background-size: 100%;
    margin: 0 auto;
    margin-bottom: 12px;
    width: 200px;
    height: 200px;
    border: 8px solid var(--Background);
    border-radius: 50%;
}

.Logo:hover, .Logo:active {
    background-image: url(Icon2.png);
}

@media (max-width: 1200px) {
    .Logo {
        width: 150px;
        height: 150px;
        border-width: 5px;
    }
}

/* Banner */

.Banner {
    box-sizing: border-box;
    background: var(--Accent-Float);
    height: 330px;
    width: 100%;
    position: absolute;
    overflow: hidden;
    z-index: 2;
}

@media (max-width: 1200px) {
    .Banner {
        height: 200px;
    }
}

/*Header*/

h3#Title {
    font-size: 60px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 12px;
}

.Pill-Container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
    gap: 12px;
}

@media (max-width: 1200px) {
    .Pill-Container {
        border-radius: 12px;
        flex-direction: column;
        overflow: hidden;
        gap: 2px;
        width: calc(100% - 12px);
        margin-left: auto;
        margin-right: auto;
    }
}

.Pill-Container#PC {
    border-radius: 12px;
    flex-direction: column;
    overflow: hidden;
    gap: 2px;
    margin-left: auto;
    margin-right: auto;
}

.Pill {
    color: var(--Text-Float);
    background: var(--Background-Float);
    border-radius: 999px; 
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 42px;
}

@media (max-width: 1200px) {
    .Pill {
        width: 100%;
        height: 52px;
        border-radius: 0;
    }
}

.Pill#PC {
    border-radius: 0;
    flex-direction: column;
    gap: 6px;
    width: 520px;
    height: 74px;
}

@media (max-width: 1200px) {
    .Pill#PC {
        width: 100%;
        height: 74px;
    }
}

.Pill#PC > span:first-child {
    text-transform: uppercase;
}

.Pill#PC > span:last-child {
    color: var(--Text);
}

/* About Text */

.About {
    display: inline-flex;
    flex-direction: column;
}

.About-Text {
    margin-bottom: 6px;
    padding: 0 3px;
}

/* Navigation */

.Navigation {
    border-radius: 24px;
    background-color: var(--Background-Nav);
    position: fixed;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    width: 60%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 4;
}

@media (max-width: 1200px) {
    .Navigation {
        border-radius: 0;
        border-top: 2px solid var(--Background-Float);
        background-color: var(--Background);
        height: calc(70px + env(safe-area-inset-bottom));
        width: 100%;
        bottom: 0;
    }
}

.Navigation-Link {
    gap: 12px;
    height: 100%;
    width: 100%;
    color: var(--Text);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration-line: none !important;
    font-weight: 700;
    font-size: 28px;
}

@media (max-width: 1200px) {
    .Navigation-Link {
        gap: 3px;
        min-width: auto;
        font-size: 12px;
        font-weight: 400;
    }
}

@media (max-width: 700px) {
    .Navigation-Link {
        flex-direction: column;
    }
}

.Navigation svg {
    width: 32px;
    height: 32px;
    fill: var(--Accent);
}

/* Divider */

hr {
    height: 2px;
    width: 90%;
    background-color: var(--Background-Float);
    border: none;
}

/* Footer */

footer {
    margin-top: 12px;
}

footer > div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

h3#Subtitle {
    font-weight: 700;
    font-size: 30px;
    margin: 0;
    margin-bottom: 12px !important;
    display: inline-block;
}

.Footer-Link {
    border-radius: 999px;
    height: 42px;
    min-width: 180px;
    margin: 0 6px;
    gap: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: background-color 0.2s ease-in-out, text-decoration-color 0.2s ease-in-out;;
}

@media (max-width: 1200px) {
    .Footer-Link {
        margin-bottom: 6px;
    }
}

.Footer-Link svg {
    width: 32px;
    height: 32px;
    fill: var(--Accent);
}