
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700&display=swap');

/*Body*/

Body {
    margin: 0;
    padding: 0;
    background-color: #2F2F2F;
    text-rendering: optimizeLegibility;
    font-family: 'Inter', sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1;
    font-weight: 400;
    font-size: 20px;
    color: #FFF;
}

.Wrapper {
    width: 50%;
    margin: 0px auto;
    text-align: center;
    position: relative;
    top: 11em;
    z-index: 2;
}

@media (max-width: 1200px) {
    .Wrapper {
        width: 100%;
        margin: 0px auto;
        margin-bottom: 12em !important;
        padding: 0px;
        top: 6em;
    }
}

/* Link */

a {
    color: #FF9800;
    text-decoration: underline 2px;
    text-decoration-color: #FF980055;
    transition: text-decoration-color 0.2s ease-in-out;
}

a:hover,
a:active {
    text-decoration-color: #FF9800;
}

/*Logo*/

.Logo {
    background: #2F2F2F url(Avatar.png) center center no-repeat;
    background-size: 100%;
    margin: 0 auto;
    margin-bottom: 12px;
    width: 200px;
    height: 200px;
    border: 8px solid #2F2F2F;
    border-radius: 50%;
}

@media (max-width: 1200px) {
    .Logo {
        width: 150px;
        height: 150px;
        border-width: 5px;
    }
}

/* Banner */

.Banner {
    box-sizing: border-box;
    background: #573B25;
    height: 330px;
    width: 100%;
    position: absolute;
    overflow: hidden;
    z-index: 2;
}

@media (max-width: 1200px) {
    .Banner {
        height: 200px;
    }
}

/*Header*/

h3#Title {
    font-size: 60px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 12px;
}

.Pill-Container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
    gap: 12px;
}

@media (max-width: 1200px) {
    .Pill-Container {
        border-radius: 12px;
        flex-direction: column;
        overflow: hidden;
        gap: 2px;
        width: calc(100% - 12px);
        margin-left: auto;
        margin-right: auto;
    }
}

.Pill-Container#PC {
    border-radius: 12px;
    flex-direction: column;
    overflow: hidden;
    gap: 2px;
    margin-left: auto;
    margin-right: auto;
}

.Pill {
    color: #BEBEBE;
    background: #424242;
    border-radius: 999px; 
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 42px;
}

@media (max-width: 1200px) {
    .Pill {
        width: 100%;
        height: 52px;
        border-radius: 0;
    }
}

.Pill#PC {
    border-radius: 0;
    flex-direction: column;
    gap: 6px;
    width: 520px;
    height: 74px;
}

@media (max-width: 1200px) {
    .Pill#PC {
        width: 100%;
        height: 74px;
    }
}

.Pill#PC > span:first-child {
    text-transform: uppercase;
}

.Pill#PC > span:last-child {
    color: #EEE;
}

/* About Text */

.About {
    display: inline-flex;
    flex-direction: column;
}

.About-Text {
    margin-bottom: 6px;
    padding: 0 3px;
}

/* Navigation */

.Navigation {
    border-radius: 24px;
    background-color: #202020;
    position: fixed;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    width: 60%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 4;
}

@media (max-width: 1200px) {
    .Navigation {
        border-radius: 0;
        height: 70px;
        width: 100%;
        bottom: 0;
    }
}

.Navigation-Link {
    gap: 12px;
    height: 100%;
    width: 100%;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration-line: none !important;
    font-weight: 700;
    font-size: 28px;
}

@media (max-width: 1200px) {
    .Navigation-Link {
        gap: 3px;
        min-width: auto;
        font-size: 14px;
        font-weight: 400;
        flex-direction: column;
    }
}

.Navigation svg {
    width: 32px;
    height: 32px;
    fill: #FF9800;
}

/* Divider */

hr {
    height: 2px;
    width: 90%;
    background-color: #424242;
    border: none;
}

/* Footer */

footer {
    margin-top: 12px;
}

footer > div {
    display: flex;
    justify-content: center;
}

h3#Subtitle {
    font-weight: 700;
    font-size: 30px;
    margin: 0;
    margin-bottom: 12px !important;
    display: inline-block;
}

.Footer-Link {
    border-radius: 999px;
    height: 46px;
    min-width: 160px;
    margin: 0 6px;
    gap: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: background-color 0.2s ease-in-out, text-decoration-color 0.2s ease-in-out;;
}

.Footer-Link:hover, .Footer-Link:active {
    background-color: #FF980020;
}