
/*Font*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400&display=swap');

/*Body*/

Body {
    margin: 0;
    background-color:#488282;
    font-family: "Open Sans";
    -webkit-font-smoothing: none !important;
}

.Wrapper {
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

@media (max-width: 800px) {
    .Wrapper {
        width: 90%;
        margin: 30px auto;
        padding: 0px;
    }
}

/*Logo*/

.Logo {
    background: url(Smugness.png) center center no-repeat;
    background-size: contain;
    margin: 40px auto;
    margin-bottom: 2rem;
    width: 200px;
    height: 208px;
    animation: Logo .666s infinite alternate;
    image-rendering: pixelated;
}

@keyframes Logo {
    0% {
        -webkit-transform: translate3d(0px, 0px, 0px);
        -moz-transform: translate(0px, 0px);
    }

    100% {
        -webkit-transform: translate3d(0px, -10px, 0px);
        -moz-transform: translate(0px, -10px);
    }
}

/*About*/

.AboutMe {
    display: flex;
    flex-direction: column;
}

span#Title {
    font-size: 62px;
    margin-bottom: 12px;
    font-style: italic;
    font-weight: 600;
}

span#Sexuality {
    margin-bottom: 8px;
}

/*Footer*/

Footer {
    margin-top: 30px;
    letter-spacing: 6px;
    font-style: italic;
}

/*Buttons*/

.Button {
    border-radius: 0px;
    transition: linear;
    transition-property: transform, box-shadow;
    transition-duration: 30ms;
    box-shadow: inset -5px -5px 0px 0px rgba(0, 0, 0, 0.30), inset 5px 5px 0px 0px #ffffff31, 0px 5px 0px 0px rgba(0, 0, 0, 0.30);
}

.Button:hover {
    transform: translateY(-5px);
    box-shadow: inset -5px -5px 0px 0px rgba(0, 0, 0, 0.30), inset 5px 5px 0px 0px #ffffff31, 0px 10px 0px 0px rgba(0, 0, 0, 0.30);
}

a#Twitter {
    background-color: #1d9bf0;
    font-size: 22px;
    font-weight: 800;
    width: 150px;
    line-height: 42px;
    text-decoration: none;
    border: 3px solid black;
    color: black;
    display: inline-block;
    margin-top: 15px;
}

a#Tumblr {
    background-color:#35465D;
    font-size: 22px;
    font-weight: 800;
    width: 150px;
    line-height: 42px;
    text-decoration: none;
    border: 3px solid black;
    color: white;
    display: inline-block;
    margin-top: 20px;
}

a#FM {
    background-color:#d92323;
    font-size: 22px;
    font-weight: 800;
    width: 150px;
    line-height: 42px;
    text-decoration: none;
    border: 3px solid black;
    color: white;
    display: inline-block;
    margin-top: 20px;
}
