/*Values
=============*/

@import url('https://fonts.googleapis.com/css2?family=Mada:wght@200;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spinnaker&display=swap');

:root {
	--brand: #FF649B;
	--twitch: linear-gradient(90deg, rgba(105,78,168,1) 10%, rgba(255,100,155,1) 35%);;
	--lego: #89A495;
	--fur: #E7E5D8;
	--white: #FFF;
	--black: #1B191A;
}

/*More Values
=============*/

*,  *::after, *::before {
	box-sizing: border-box;
}

body, html {
	height: 100%;
	text-rendering: optimizeLegibility;
}

body {
	background: var(--black);
	color: var(--white);
	font-family: "Mada";
	min-width: 100%;
	place-items: center;
	display: grid;
}

a, abbr, acronym, address, applet, big, blockquote, body, button, caption, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, iframe, img, input, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, ul, var {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

/*Buttons
=============*/

#WhiteButton, #LegoButton {
	background: var(--brand);
	color: var(--white);
	padding: 10px 35px;
	border-radius: 50px;
	margin-right: 10px;
	cursor: pointer;
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
}

#LegoButton {
	background-color: var(--lego);
}

/*Right Side
=============*/

#AboutMe, #Showcase {
	display: flex;
	align-items: center;
}

@media screen and (max-width: 65em) {
	#AboutMe, #Showcase {
		flex-direction: column;
		width: 100%;
	}
}

#Showcase {
	margin-bottom: 50px;
}

#AboutArea {
	font-size: 28px;
	display: flex;
	flex-direction: column;
	padding-bottom: 20px;
}


#NameArea, #TwitchName {
	font-size: 64px;
	font-weight: 1000 !important;
	color: var(--brand);
}



/*
#TwitchName {
background: rgb(144,89,246);
background: var(--twitch);
    /* background-image: url(https://images.unsplash.com/photo-1579547945478-a6681fb3c3c9?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=800&fit=max&ixid=eyJhcHBfaWQiOjF9);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
*/



#InfoArea {
	height: 100%;
}

/*Left Side
=============*/

#Photo, #PhotoShow {
	height: 20em;
	width: auto;
	border-radius: 500px;
	margin-right: 30px;
}

#PhotoShow {
	border-radius: 0px;
	height: 25em;
}

@media screen and (max-width: 65em) {
	#Photo, #PhotoShow {
		height: auto;
		width: 100%;
		margin-right: 0px;
		margin-bottom: 30px;
	}
}

#PhotoArea {
	border-radius: 100px;
}
